/* MAIN */

:root {
  --text-color: #dadce1;
}

* {
  /*Clear all values*/
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#navigation {
  background-color: #4d4d4d;
  padding-bottom: 10px;
}

#navigation ul {
  list-style: none;
}

#navigation ul li {
  display: inline;
  margin: 20px;
  font-size: xx-large;
  border-radius: 50%;
}

#footer {
  background-color: black;
  color: var(--text-color);
  padding: 5px;
  font-size: small;
}

/* FONTS */

h1 {
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Lora;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Merriweather;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Merriweather;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
}

/* PAGES */

#flexcontainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: auto;
  flex: 1;
}

.main {
  background-image: linear-gradient(to bottom right, #ff4e50 0%, #f9d423 100%);
}

#main p {
  font-size: large;
  line-height: 2;
  max-width: 220px;
  margin: auto;
  padding: 50px;
}

.icon {
  font-size: xx-large;
}

.climate {
  background-image: linear-gradient(to bottom right, #16a085 0%, #f4d03f 100%);
  overflow-x: hidden;
}

#climate {
  margin: 20px 0;
}

#climate > div {
  padding: 10px;
  margin: 30px 0;
  min-height: 50px;
  background-color: rgba(70, 104, 81, 0.2);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: normal;
  width: 90%;
}

#climate > div:nth-child(odd) {
  margin-right: auto;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

#climate > div:nth-child(even) {
  margin-left: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#climate > div:last-child {
  margin: 0 auto;
  background-color: transparent;
  border: none;
  padding: 0;
}

#climate > div:last-child div {
  font-family: Lora;
  font-size: larger;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.burnText {
  color: #fff;
  text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px #ff8000,
    0px -18px 40px red;
}

@media screen and (min-width: 769px) {
  #climate > div {
    font-size: 2vw;
    width: 50%;
  }
}

.scroll {
  background-image: linear-gradient(to bottom right, #d558c8 0%, #24d292 100%);
}

#scroll {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#scroll > div {
  min-width: 20%;
  font-size: large;
  padding: 50px;
  line-height: 2;
  margin: 50px auto;
  background-color: rgba(172, 24, 160, 0.2);
}

.kawaii {
  background-image: linear-gradient(
    to bottom right,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

#kawaii div {
  padding: 20px;
  max-width: 50%;
  margin: 0 auto;
}

.demo {
  background-image: linear-gradient(
    to bottom right,
    #2cd8d5 0%,
    #c5c1ff 56%,
    #ffbac3 100%
  );
}

#demo {
  margin: 50px;
}

.examples {
  clear: both;
  margin-top: 20px;
}

.rectangle {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #0d00ff;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-right: 20px;
}

.box:last-child {
  margin-right: 0;
}

.ease {
  background-image: linear-gradient(to bottom right, #330867 0%, #30cfd0 100%);
}

#ease {
  color: white;
  font-size: large;
  margin: 30px;
}

.easeRow {
  margin: 15px auto;
}

.easeRow > div {
  display: inline-block;
  min-width: 15%;
}

.easeName {
  text-align: left;
}

.line {
  height: 20px;
}

/* SMALLER COMPONENTS */

#title {
  padding: 15px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a svg {
  padding: 5px;
  border-radius: 50%;
  transition: 0.3s;
}

a svg:hover {
  filter: brightness(1.2);
  background: gray;
}

.textbox {
  display: flex;
}

.xxIcon {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.slideLeft {
  flex-direction: row-reverse;
}
